<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>
  <variable name="layout" value="${date:universalTime=true}||${level}||${windows-identity}||${message}||${exception:maxInnerExceptionLevel=10:format=ToString}||${newline}" />

  <targets>
    <target name="file" xsi:type="File" fileName="C:/sqWorkSpace/AxePractice.StepByStep/src/SimpleIntegrtion/log/my.log" layout="${layout}" concurrentWrites="true" keepFileOpen="false" />


  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
